body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#console-container {
    margin-top: 20px;
}

#ConsoleInput .table > tbody > tr > td {
    vertical-align: middle;
}

.badge-success {
    background-color: #5cb85c;
}

.badge-warning {
    background-color: #f0ad4e;
}

.badge-danger {
    background-color: #d9534f;
}